<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= render "layouts/logo" %>
      <% if current_user && current_user.role?(User::ADVERTISER) %>
        <%= render "layouts/advertiser/menu" %>
        <p class="pull-right">
          Logged in as <a href="#"><%= current_user.email %></a> [<%= link_to t("commons.exit"), advertiser_user_session_path(current_user), :method => "delete"%>]
        </p>
      <% else %>
        <p class="pull-right">You are not logged in</p>
      <% end %>
    </div>
  </div>
</div>