<% if current_publisher.engaged? %>
    <h6>Social engaged</h6>
<% end %>

<table>
	<thead>
	   <tr>
	       <th><%= t('commons.network') %></th>
	       <th><%= t('commons.connections') %></th>
	   </tr>
	</thead>
	<tbody>
	<tbody>
		<tr>
		  <td class="attribute"><%= t('commons.facebook') %></td>
		  <td class="value"><%= current_publisher.friends %></td>
		</tr>
	</tbody>
</table>
