<div class="air">
	<div class="well">
		<h1>INFORMAZIONE IMPORTANTE!!</h1>
		<p>
			Stiamo lavorando duro per aggiornare l’applicazione Paypersocial alle nuove condizioni per le applicazioni Facebook (modifica delle precedenti, decorrenti il 10 Maggio 2012).
		</p>
	</div>
	<p>
		Sino alla pubblicazione di tale aggiornamento non sara’ possibile pubblicare nuove campagne sui vostri account Facebook. Altri servizi come report e billing per pagamento sono regolarmente funzionanti.
	</p>
	<p>
		Stiamo lavorando anche alle seguenti nuove funzionalita’:
	</p>
	<ul>
		<li>
			Nuova interfaccia (colonna di sinistra) con maggiori informazioni; <i class="icon-list"></i>
		</li>
		<li>
			Svincolo di Paypersocial da Facebook; <i class="icon-resize-full"></i>
		</li>
		<li>
			Inclusione di altri network per post: Twitter, Google+, LinkedIn, altri; <i class="icon-share"></i>
		</li>
	</ul>

	<h2>Pagamenti:</h2>
	<p>
		Dal 28/05 saranno disponibili nell’area '<i>Billing</i>' le informazioni sui pagamenti del traffico consolidato alla fine di <u>Aprile 2012</u> per gli utenti che hanno raggiunto il valore minimo di <b>$20</b> ($100 di contratto). Per procedere con il pagamento entro il <b>10/06/2012</b>, dovrete confermare il vostro account di Paypal (area <i>Profilo</i>) e confermare il documento di pagamento (per societa’ emettere fattura, per privati riaplodare il documento in area <i>Billing</i>).
	</p>
	<p>
		Vi ringraziamo per l’attesa e la pazienza per il ritorno dell’applicazione al 100%.
	</p>
	<p>
		Paypersocial Ltd
		CDA
	</p>
</div>
