<div class="air">
	<div class="well">
		<h1>IMPORTANT INFORMATION</h1>
		<p>
			We are working hard to update and adapt our Paypersocial Facebook App to the new Facebook terms and conditions (updated May 10, 2012).
		</p>
	</div>
	<p>
		Before the new updated App will be online it will not be possible to post new campaigns on your Facebook walls and pages. The other App services (e.g. Reporting and Billing) necessary to complete the payment process are working as normal.
	</p>
	<p>
		We are also working on new features you requested:
	</p>
	<ul>
		<li>
			New interface design (left column) with more relevant information; <i class="icon-list"></i>
		</li>
		<li>
			Decoupling of the Paypersocial from Facebook; <i class="icon-resize-full"></i>
		</li>
		<li>
			Inclusion of new social network posting ability: on Twitter, Google+, Linkedin, etc. <i class="icon-share"></i>
		</li>
	</ul>

	<h2>PAYMENTS:</h2>
	<p>
		Starting May 28, 2012 within the '<i>Billing</i>' menu, the information regarding the consolidated traffic end of <u>April 2012</u> is available to all users who have reached a minimal “earned amount” of <b>$20</b> (instead of $100 as per our terms and conditions). From <b>June 10, 2012</b> in order to proceed with payment you should (1) confirm your Paypal account on the "<i>My Profile</i>" menu; and (2) upload the invoice related to the payment received.
	</p>
	<p>
		If you are a business you can use our pro-forma to compile your invoice and to upload it back, if you are not a business you need to download and upload “as-is” our pro-forma using the our App “<i>Billing</i>” menu.
	</p>
	<p>
		We apologize for keeping you waiting and take the opportunity to thank you for the patience. The Paypersocial App will be back soon.
	</p>
	<p>
		Paypersocial Ltd
		CDA
	</p>
</div>
