<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
		<body>
			<div>
				Password recovery for <%= link_to @site_name, @current_host_with_port %> site
			</div>
			<br/>
			<div>
				Please click on link below to reset your passsword
			</div>
			<br/>
			<div>
				<%= link_to 'Reset Password', @url_to_follow %>
			</div>
			<br/>
			<br/>
			<div>
				Thank you, <br/>
				The <%= @site_name %> Team
			</div>
		</body>
</html>
