<p id="notice"><%= notice %></p>
<div id="banner-preview"><%= image_tag @banner.image_url.to_s %></div>
<%= link_to 'Edit', edit_admin_banner_path(@admin_banner) %> |
<%= link_to 'Back', admin_banners_path %>
