<% #TODO (Giacomo => Fabio) customize the layout for the notification email (for admins)%>

<h2>PayPerSocial Engage Complete</h2>
<h3>Welcome on board!</h3>
<p>This is PayPerSocial. The application that let you earn money publishing our ads on your wall.</p>
<p>PayPerSocial engagement process has successfully completed!</p>