<% #TODO (Giacomo => Fabio) customize the layout for the notification email (for admins)%>

<h2>A new publisher joined us!</h2>
<p>This is a great news! This means PayPerSocial is growing</p>
<p>Publisher's email: <%= @publisher.email %></p>


