<div class="page-header"><h2>Summary</h2></div>
  <table class="zebra-striped">
    <tr><td>Clicks:</td><td><%= @campaign.clicks_count %></td></tr>
    <tr><td>Publishers count:</td><td><%= @campaign.publishers_count %></td></tr>
     <tr>
      <td>
        Click Value:
      </td>
      <td>
        <span class="btn info">
          <%= currency_format(@campaign.click_value) %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Amount:
      </td>
      <td>
        <span class="btn success">
          <%= currency_format(@campaign.amount) %>
        </span>
      </td>
    </tr>
  </table>