.container-fluid > .content{
	margin-left: 0px;
	margin-top: 60px;
}

.topbar ul .active > a {
	text-decoration: underline;
}
.topbar .brand .pay{ font-weight: lighter; }
.topbar .brand .per{ font-weight: 400	; }
.topbar .brand .social{ font-weight: 900; }

.sidebar .topbar { width: 200px; }

.sidebar .admin_console { margin-top: 35px; }
.sidebar .admin_console a { font-size: 16px; }

.pagination span.page a,
.pagination span.first a,
.pagination span.last a,
.pagination span.prev a,
.pagination span.next a {
	float: none;
	padding: 0 4px;
}

.pagination span.last a {
	border: none;
}
.pagination span.gap,
.pagination span.current {
	padding: 0 4px;
	line-height: 34px;
	border-right: 1px solid;
	border-right-color: #DDD;
	border-right-color: rgba(0, 0, 0, 0.15);
	text-decoration: none;
}

.kaminari_paginator {
	width: 100%;
	text-align: center;
}

#campaignClicksContainer td.data_json {
	max-width: 500px;
	word-wrap: break-word;
}

#campaignClicksContainer td.word_wrap_200 {
	max-width: 200px;
	word-wrap: break-word;
}

select.datetime {
	width: auto !important;
}

.utc_word_format {
	float: left;
	margin: 7px;
	font-weight: bold;
}

.clearfloats {
	clear: both;
}

td span.btn.info {
	white-space:nowrap;
}

.text_in_line {
	white-space:nowrap;
}

.font_normal {
	font-weight: normal;
}

.dashboard_left_menu_btn {
    width: 150px;
    text-align: center;
}

.dashboard_share_btn {
    width: 100px;
    text-align: center;
    font-size: 14px;
    height: 21px;
    padding-top: 7px;
}

.dashboard_click_btn {
    text-align: center;
    font-size: 14px;
    height: 21px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.popup_engage {
    padding: 5px;
    background-color: white;
    -moz-box-shadow: 0px 3px 3px rgba(236,236,236,0.6);
    -webkit-box-shadow: 0px 3px 3px rgba(236,236,236,0.6);
}

.gray_border {
    border: 1px solid #d2d2d2;
}

.popup_engage_interior {
    background-color: white;
    width: 500px;
    float: left;
    padding: 5px;
    float: left;
}

#sign_up_pps_baner {
    width: 300px;
    height: 400px;
    float: left;
}

#ads_list_top_baner {
    width: 680px;
    height: 80px;
    margin-bottom: 10px;
    float: right;
}

#ads_list_sidebar_baner {
    width: 180px;
    height: 600px;
    margin-top: 10px;
}

#sign_up_pps_form, #sign_in_pps_form {
    width: 33%;
    min-width: 270px;
    border-right: 4px #FF4F00 solid;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#sign_up_pps_social, #sign_in_pps_social {
    padding-left: 15px;
    float: left;
}

#sign_up_pps_social span.social_btn, #sign_in_pps_social span.social_btn {
    border-radius: 15px;
    padding: 10px 55px 10px 55px;
    font-size: 24px; width: 130px;
    text-align: center;
}

#sign_up_pps_social div.social_btn, #sign_in_pps_social div.social_btn {
    padding: 0px 17px 17px 17px;
}

#sign_up_pps_form div.actions, #sign_in_pps_form div.actions {
    padding: 17px 20px 18px 17px;
    margin-bottom: 0px;
}

#sign_up_pps_form div.clearfix label, #sign_in_pps_form div.clearfix label {
    width: 170px;
    text-align: left;
}

#sign_in_pps_form div.clearfix label {
    margin-left: 17px;
    width: 100px;
}

#sign_up_pps_form div.clearfix input {
    width: 250px;
}

#sign_up_pps_form div.clearfix div.input, #sign_in_pps_form div.clearfix div.input {
    margin-left: 17px;
}

#sign_up_pps_form form, #sign_in_pps_form form {
    margin-bottom: 0px;
}

#sign_up_pps_form span.error {
    display: block;
    font-size: smaller;
    color: red;
}

#sign_up_pps_form div.field_with_errors label {
    color: red;
}

#sign_in_pps_form div.clearfix input {
    width: 200px;
}

#sign_in_pps_form div.clearfix div.input input[type=checkbox] {
    height: 25px;
    width: 25px;
}

.form_title {
    color: #FF4F00;
    font-size: 30px;
    margin-left: 17px;
    padding-bottom: 17px;
}

#terms_pps_baner {
    width: 180px;
    height: 550px;
    float: left;
}

#terms_pps_baner_2 {
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
}

.fb_share_btn {
    width: 95px;
    text-align: center;
}

div#fb_share_info_popup div.title {
    background-color: #339BB9;
    margin: -5px;
    padding: 5px;
}

div#fb_share_info_popup div.title span {
    margin: 5px;
    font-size: 14px;
    color: white;
}

div#fb_share_info_popup div.message textarea#message {
    width: 450px;
    min-width: 450px;
    max-width: 450px;
    max-height: 36px;
    overflow: hidden;
}

#filter_date_from_year, #filter_date_from_month, #filter_date_from_day,
#filter_date_to_year, #filter_date_to_month, #filter_date_to_day {
  max-width: 90px;
}

.to-date label, .from-date label {
  width: 32px;
}

#filter-date-btn {
  margin-left: 32px;
  margin-top: 5px;
}

.text_center {
    text-align: center;
}

p.input_info {
    margin-left: 150px;
    font-size: 90%;
    color: #808080
}

div#partner_new div.input {
    margin-left: 190px;
}

div#partner_new label {
    width: 170px;
}

div#partner_new div.bottom_holder {
    padding-top: 30px;
    margin-top: 10px;
    border-top: 2px #FF4F00 solid;
}

div#partner_new div.column, div#partner_new div.bottom_holder div.clearfix {
    float: left;
    width: 49%;
}

div#partner_new div.vertical {
    border-right: 2px #FF4F00 solid;
}

div#partner_new div.actions {
    padding-left: 0px;
}

div#partner_new div.actions .btn {
    margin-left: 40px;
    padding-left: 0px;
    width: 230px;
}

table.partner_billing span.amount {
    padding: 2px 20px 2px 20px;
    text-align: right;
    font-size: 1.2em;
}

table.partner_billing button.amount_request {
    width: 150px;
    text-align: center;
    cursor: auto;
}

table.partner_billing, table.partner_billing td {
    border-width: 0px;
}

table.partner_billing td {
    text-align: right;
    vertical-align: middle;
    width: 120px;
}

table.partner_billing td.td_title {
    width: 180px;
}

.input_notes {
    margin-left: 150px;
    font-size: 90%;
    color: #666666;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 18px;
}

#ad_state{
  width: 523px;
  height: 138px;
}

#partner_filter{
    margin-left: 20px;
}
