<div class="page-header">
  <h1>Prepaid Packages</h1>
</div>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Package Code</th>
      <th>Price</th>
      <th>Budget</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @prepaid_packages.each do |prepaid_package| %>
      <tr>
        <td><%= prepaid_package.package_code %></td>
        <td><%= currency_format prepaid_package.price %></td>
        <td><%= currency_format prepaid_package.budget %></td>
        <td><%= link_to "Buy", advertiser_confirm_buy_prepaid_package_path(prepaid_package), :class => "btn success"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
