<div class="sidebar" style="margin-top: -30px;">
    <div class="topbar">
        <div class="fill">
          <span class="brand">
            <span class="pay">pay</span><span class="per">per</span><span class="social">social</span>
            <span class="beta">BETA</span>
          </span>
      </div>
    </div>
    <div class="admin_console">
      <%= link_to "Administration Console", publisher_publisher_dashboard_path, :class => 'btn success dashboard_left_menu_btn', :target => '_blank' %><br/>
    </div>
  <div id="ads_list_sidebar_baner"><%= banner_for_page Banner::PUBLISHER_FACEBOOK_SIDEBAR %></div>
</div>
