<div class="row">
  <div class="span8">
    <div class="page-header">
      <h2>Publisher Infos</h2>
    </div>
    <table class="zebra-striped">
      <tr>
        <td>Name</td>
        <td><%= @publisher.name %></td>
      </tr>
    </table>
  </div>

  <div class="span8">
    <div class="page-header">
      <h2>Billing Infos</h2>
    </div>
    <table class="zebra-striped">
      <tr>
        <td>Name</td>
        <td><%= @publisher.name %></td>
      </tr>
    </table>
  </div>
</div>